fastapi
uvicorn
motor
pymongo
python-dotenv
groq
requests
httpx
feedparser
beautifulsoup4
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
email-validator
aiofiles
cachetools